{% extends "base.html.twig" %}

{% block title %}
      ¡Bienvenidos!
{% endblock %} 

{% block body %}   

    ¡Hola {{ nombre|upper }}!
    
    {% if productos is defined %}
        {% for producto in productos %}
            <p> El id del {{ producto.nombre }} es {{ producto.id }}.</p>
        {% endfor %}
    {% endif %}
    
{% endblock %}
